# Primeiros Exemplos

In [35]:
print('Primeiro Programa')
(1 
 + 2)
help(print)

Primeiro Programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [41]:
print(1 + 3 + 4)
print(4 + 2)

8
6

# Tipos Básicos

In [2]:
print(True)
print(False)
print(1.2 + 1)
print('Dentro das aspas simples, eu falo minha linguagem')
print("Também pode escrever/funciona com aspas duplas também")

print('Voce é ' +  3 * ' muito' + ' legal')
# COM ASPAS VOCE ESCREVE O TEXTO, (+) VAI JUNTAR A FRASE 

#print(3 + 'a') NÃO VAI DAR CERTO PQ TEM AMBIGUIDADE, OU QUER SOMAR 3 + A OU QUER REPETIR O A 3 VEZES?

print(2 * 3)




print([1, 2, 3,]) #LISTA
print({'nome': 'Julio' , 'idade': '20' , 'cidade' : 'Joao Pessoa'})  #DICIONARIO = ESTRUTURA CHAVE VALOR
print(None) #ausencia de valor

True
False
2.2
Dentro das aspas simples, eu falo minha linguagem
Também pode escrever/funciona com aspas duplas também
Voce é  muito muito muito legal
6
[1, 2, 3]
{'nome': 'Julio', 'idade': '20', 'cidade': 'Joao Pessoa'}
None

# Variáveis

In [14]:
a = 10
b = 5.2 

print(a+b)

a = 'Agora viro string'
print(a)

15.2
Agora viro string

# Comentários

In [26]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

'''
paspsads
'''

print(salario-despesas)
# print('Fim')
resultado = salario - despesas
print(resultado)

994.25
994.25
Resultado

# Operadores Aritméticos

In [47]:
2 + 3
print(4-7)
print( 2 * 5.3)
print( 9 // 3.3) # DUAS BARRA VAI DAR O RESULTADO INTEIRO
print( 9 / 3.3 ) # UMA BARRA VAI DAR O RESULTADO QUEBRADO
print( 2** 9)
print( 10%4)

a = 12
b = a

print(a,b)
print(a+b)

-3
10.6
2.0
2.7272727272727275
512
2
12 12
24

# Desafio

In [51]:
salario = 3450.45
despesas = 2456.2

percentual = despesas / salario * 100
print(percentual)

# #REGRA DE TRES SIMPLES, SALARIO = 100
#                         DESPESA = X
#                         DESPESA DIVIDIDO POR SALARIO * 100

71.18491790925822

# Operadores Relacionais

In [63]:
3 > 4 
4 >= 3 #maior ou igual
1 < 2 
3 <= 1  #menor ou igual
3 != 2 # != diferente
3 == 3 # é igual? 
2 == '2'

False

# Operadoes de Atribuição

In [81]:
a = 3
a = a + 7
print(a)

# += ATRIBUICAO ADITIVA
a = 3
a += 2
print(a)
print(a)

a -= 2 # -= ATRIBUICAO DIMINUITIVA

print(a)

a *= 2 # ATRIBUICAO MULTIPLICATIVA
print(a)

a /= 3 #ATRIBUICAO DIVISIVA
print(a)

10
5
5
3
6
2.0

# Operadores Lógicos

In [125]:
True or False        #OR = OU
7 != 3 and 2 > 4     #AND = E

# Tabela Verdade do AND = e

True and True # true
True and False # false
False and False # false
False and True  #false

# Tabela Verdade do OR = ou

True or True # true
True or False # true
False or True  #true
False or False #false

# Tabela verde do XOR = ou exclusivo, ou um ou outro
True != True # true é diferente de true? FALSE
True != False # true é diferente de false? TRUE
False != True # false é diferente de true? TRUE
False != False #false é diferente de false? FALSE


# OPERADOR DE NEGAÇÃO

not True #não é true. FALSE
not False #não é false. TRUE


# UM POUCO DE REALIDADE
saldo = 1000
salario = 4000
despesas = 2967
meta = saldo > 0 and salario - despesas >= 0.20 * salario
meta

True

# Desafio Operadores Lógicos

In [23]:
trabalho_terca = True
trabalho_quinta = False

# trabalho_terca and trabalho_quinta = TV 50 + sorvete
# trabalho_terca != trabalho_quinta = TV 32 + sorvete
# sem sorvete  = not trabalho_terca , not trabalho_quinta

tv_50 = trabalho_terca and trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
saude = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saude={}"
.format(tv_50, tv_32, sorvete, saude))

Tv50=False Tv32=True Sorvete=True Saude=False

# Operadores Unarios e Ternarios

## EXEMPLOS NA PRATICA.

In [46]:
esta_chovendo = False
" Hoje estou com as roupas " + ("secas." , "molhadas.")[ esta_chovendo]
secas = not esta_chovendo
molhadas = esta_chovendo

print(" Hoje estou com as roupas " + ("secas." ,  "molhadas.")[ esta_chovendo])

 Hoje estou com as roupas secas.

In [76]:


e_domingo = False
" Hoje vou para academia " + ("vou_treinar." , "nao_vou_treinar")[ e_domingo]
vou_treinar = not e_domingo
nao_vou_treinar = e_domingo


print("Hoje vou para academia," +  ("vou treinar."  , "nao vou treinar.")[e_domingo])

Hoje vou para academia,vou treinar.

In [97]:
esta_chovendo = True
" Hoje estou com as roupas " + ("secas." , "molhadas.")[esta_chovendo]
secas = not esta_chovendo
molhadas = esta_chovendo

print(" Hoje estou com as roupas " + ("secas." ,  "molhadas." )[esta_chovendo])

 Hoje estou com as roupas molhadas.

In [107]:
fazendo_sol = True
carro = not fazendo_sol
andando = fazendo_sol

"Fui para academia" + ("carro." , "andando.") [fazendo_sol]

print("Fui para academia " +  (  "carro." ,    "andando.")  [fazendo_sol])

Fui para academia andando.

In [119]:
estou_ferias = True
vou_trabalhar = not estou_ferias
nao_vou_trabalhar = estou_ferias

"Acordei,tomei cafe da manha e " + ("vou_trabalhar." ,"nao_vou_trabalhar.") [estou_ferias]

print("Acordei, tomei cafe da manha e " + ("vou_trabalhar." , "nao vou trabalhar.") [estou_ferias])

Acordei, tomei cafe da manha e nao vou trabalhar.

# IF e ELSE

In [ ]:
if = se
else = caso ao contrario

In [125]:
esta_chovendo = True


"Hoje vou com as roupas " + ("secas." if esta_chovendo else "molhadas.")

"Hoje vou com as roupas " + ("molhadas." if esta_chovendo else "secas.") [esta_chovendo])

SyntaxError: unmatched ')' (Temp/ipykernel_10796/1004281362.py, line 6)

In [129]:
esta_chovendo = True
esta_chovendo = True

"Hoje estou com as roupas " + ("molhadas." , "secas.") [esta_chovendo]

"Hoje estou com as roupas " + ("molhadas." if esta_chovendo else "secas.")

'Hoje estou com as roupas molhadas.'

In [128]:
esta_chovendo = True

"Hoje estou com as roupas " + ("secas." , "molhadas.") [esta_chovendo]

"Hoje estou com as roupas " + ("molhadas." if esta_chovendo else "secas.")

'Hoje estou com as roupas molhadas.'

In [144]:
fazendo_sol = True #O PYTHON VAI CONSIDERAR O VERDADEIRO O ULTIMO DA EXPRESSAO.


print("Fui para academia " + ("de carro." , "a pe.") [fazendo_sol])

"Fui para academia " + ("a pé." if fazendo_sol else "de carro.")

Fui para academia a pe.

'Fui para academia a pé.'

# Mais Operadores in = ESTÁ? is == É?

In [182]:
# Operadores de Membros

lista = [1, 2, 3, 'Ana', 'Maria', 'Joao']
lista
2 in lista
2 not in lista

'Julio' in lista

# Operador de Identidade

x = 3
y = x
z = 3

y == z
x == z

z is x
z is not x

y is z

lista_a = [ 1, 2, 3,]
lista_b = lista_a
lista_c = [1, 2, 3,]

print(lista_a is lista_b)
print(lista_a is lista_c)
print(lista_a is not lista_b)

True
False
False

# Builtins

In [19]:
#help(type)

type(1)

__builtins__.type('Testesp sadpkaspokdsap')
__builtins__.print( 10 + 5 )

help(dir)
dir()
a = 2

dir()

15
Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

['In',
 'Out',
 '_',
 '_14',
 '_17',
 '_3',
 '_6',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'lista',
 'quit']

In [28]:
nome = ' Julio Cesar Agripino de Oliveira'
print(__builtins__.type(nome)) #TYPE = TIPO DA FUNCAO 
print(__builtins__.len(nome)) #LEN = NUMEROS DE CARACTERES DENTRO DA FUNCAO

<class 'str'>
33

# Conversão de Tipos

In [55]:
2 + 3

'2' + '2' # STING + STRING = VAI JUNTAR, NÃO SOMARRRRR. "CONCATENAÇÃO"
# 2 + '2' = NAO PODE!!!!


a = 2    # = numero inteiro
b = '4'   # = string
c = 2.2   # = numero float
print(type(a))
print(type(b))
print(type(c))


print(a + int(b))

# int(a) = VAI PEGAR O VALOR INTEIRO DESSA VARIÁVEL

print(b + str(a)) # VAI JUNTAR 4 + 2 = 42

print(type(str(a)))

<class 'int'>
<class 'str'>
<class 'float'>
6
42
<class 'str'>

# Coerção Automática

In [70]:
10  / 2
2 * 4
2 + 2
1 - 2
4 / 2
print(type(_))

4//2
type(_)

print(1 + True)
print(1 + False)

<class 'int'>
2
1

# Tipos Numericos

In [104]:
dir(int)
dir(float)

a = 2
b = 2.5
a + b 

b.is_integer() # b é inteiro? FALSE


type(a)

5.0.is_integer()
dir(int)
int.__add__(2,4)

int.__add__(2,5,)

2 + 4
2 + 4 + 2

(-2).__abs__() # VAI PEGAR O NUMERO ABSOLUTO

(2).__abs__()

2

# Decimal

In [37]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
(Decimal(1) / Decimal(7))

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
Decimal(1) > Decimal(7)
# dir(Decimal)

print(1.1 + 2.2)
print(Decimal(1.1) + Decimal(2.2))

3.3000000000000003
3.300

# Tipo Strings

In [79]:
dir(str)
nome = 'Julio Cesar'
nome
nome[0]
# nome[6] = 'C' #VAI DAR ERRO, STRING É IMUTÁVEL
nome

"marca d'agua" == 'marca d\'agua'
Texto = ' O texto que comeca por aspas simples, pode ter "aspas duplas" entre ele'
Texto_2 = "O texto que comeca por aspas duplas, pode ter 'aspas simples' entre ele"

print(Texto)
print(Texto_2)


Texto_3 = """ O texto
pode ter varias
linhas se tiver 3 aspas duplas 
no comeco e no fim """
print(Texto_3)

Texto_4 = ''' Também é possivel
com 3 aspas simples '''
Texto_4
print(Texto_4)

 O texto que comeca por aspas simples, pode ter "aspas duplas" entre ele
O texto que comeca por aspas duplas, pode ter 'aspas simples' entre ele
 O texto
pode ter varias
linhas se tiver 3 aspas duplas
no comeco e no fim
 Também é possivel
com 3 aspas simples

In [102]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[:]
nome[-5:]
nome[:3]
nome[:8]
nome[:9]
nome[2:5]

'a P'

In [114]:
numeros = '1234567890'
numeros
numeros[::] == numeros[:]

True

In [133]:
frase = 'Python é uma linguagem legal'
'Py' in frase
print(len(frase))         #len(frase)
print(frase.lower())      #frase.lower()
print(frase.upper())   #frase.upper()
print(frase)

frase = frase.upper()

frase

frase.split()

28
python é uma linguagem legal
PYTHON É UMA LINGUAGEM LEGAL
Python é uma linguagem legal

['PYTHON', 'É', 'UMA', 'LINGUAGEM', 'LEGAL']

## METODOS MAGICOS (STRING)

In [164]:
a = '123'
b = ' de Oliveira'
(a + b)

a.__add__(b) 
str.__add__(a,b) == a.__add__(b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

True

#### REVERTER UMA STRING

In [32]:
a = 'Julio Cesar Agripino'
a [::-1]

'onipirgA raseC oiluJ'

# Listas

In [29]:
lista = []
type(lista)
dir(lista)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
len(lista)
lista

nova_lista = [1,5,'Ana','Bia']
nova_lista
nova_lista.remove(5)
nova_lista
# help(lista)
nova_lista.reverse

### REVERTER UMA LISTA       ->    list_name.reverse()

In [39]:
lista = [1,2,3,'Julio']
lista.reverse()
lista
# dir(lista)

['Julio', 3, 2, 1]

In [63]:
lista = [1,5,'Rebeca','Guilherme', 3.1415]
lista.index('Guilherme')
lista
lista.index("Guilherme")
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[4] 
lista[-1]
lista[-5]

1

In [84]:
lista = ['Ana','Lia','Rui','Paulo','Dani']
lista
lista[1:3]
lista[1:-1]
lista[1:]
lista[0:-1]
lista[:]
lista[::2]
lista[::-1]
# lista.reverse()
lista
del lista[2]
lista
del lista[1:]
lista

['Ana']

# Tuplas

In [115]:
# dir(tuple)
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tupla)
tupla = ('um')
type(tupla)
tupla_2 = ('um',)
type(tupla_2)
tupla_2[0]

cores = ('verde', 'amarelo', 'azul', 'branco')
cores
cores[0]
cores[-1]
cores[1:]
cores.index('amarelo')
cores.count('azul')
len(cores)

4

# Dicionário

In [141]:
pessoa = {'nome': 'Ana', 'idade': 20 , 'cursos': ['Ingles','Portugues']}
print(pessoa)
type(pessoa)
# help(dict)
# dir(dict)
pessoa.values()

len(pessoa)
pessoa['nome']

pessoa['idade']

pessoa['cursos']
pessoa['cursos'][0]
pessoa['cursos'][1]

pessoa.keys()
pessoa.values()
pessoa.items()

pessoa.get('idade')
pessoa['idade'] == pessoa.get('idade')

{'nome': 'Ana', 'idade': 20, 'cursos': ['Ingles', 'Portugues']}

True

In [152]:
pessoa = {'nome': 'Professor Alberto', 'idade': 43 , 'cursos': ['React','Pyhton']}
pessoa

pessoa['idade'] = '44'
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')
pessoa

pessoa['cursos'].append("Adm")
pessoa

{'nome': 'Professor Alberto', 'cursos': ['React', 'Pyhton', 'Angular', 'Adm']}

In [167]:
pessoa_2 = {'nome': 'Junior' , 'idade': 25 , 'Curso': ['Direito']}
pessoa_2
pessoa_2['Curso'].append('adm')
pessoa_2

pessoa_2.update({'nome':'Ana' , 'sexo': ' feminino'})
pessoa_2

{'nome': 'Ana', 'idade': 25, 'Curso': ['Direito', 'adm'], 'sexo': ' feminino'}

# Conjuntos

In [219]:
# help(set)
# dir(set)

a = {1,2,3}
type(a)
# a[0]

a = set('c0000d3r')
# print('3' in a)
# print('r' not in a)
a
{'0', '3', 'c', 'd', 'r'} == {'0', '3', 'c', 'd', 'r','0'}

#operações
c1 = {1,2}
c2 = {2,4}
c1.union(c2)
# dir(set)

c1.intersection(c2)
c1.update(c2)
c1

c2 <= c1 # <= C2 É SUBCONJUNTO DE C1? TRUE.
c1 >= c2

{1,2,3} - {2}
# {1,2,3} + {4} #VAI DAR ERRRO, NAO TEM ADICAO EM SETS(CONJUNTOS).
c1 - c2

{1}

# Interpolação

#### interpolar = substituir

In [6]:
from string import Template
nome, idade = 'Ana' , 30

print('nome: %s idade: %d %r %r' % (nome,idade, True, False)) #versoo antiga

print('nome: {0} , idade: {1}'.format(nome,idade)) #verso do python menor 3.6
print(f'Nome: {nome} Idade: {idade}')

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

nome: Ana idade: 30 True False
nome: Ana , idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30

# Primeiro Projeto em Python

In [15]:
pi = 3.14159
r = 15.3
area_c = pi * r**2
area_c

735.4148031000001

In [39]:
import math
from math import pi ### DO FMATH, VAMOS PEGAR O PI
pi
### IMPORTANDO O MATH, DENTRO DO MATH VAMOS IMPORTAR O PI

3.141592653589793

# Importando

In [2]:
from math import pi


def circulo(r):
    print('Area do circulo', pi * float(r) ** 2)


if __name__ == '__main__':

    r = input('Diga o valor do raio:')
    circulo(r)

Diga o valor do raio:12
Area do circulo 452.3893421169302

In [10]:
import math
from math import pi

r = input('Diga o valor do raio:')

print('Area do circulo é:', pi * float(r) ** 2)

Diga o valor do raio:10
Area do circulo é: 314.1592653589793

# Notas IF ELSE ELIF

In [4]:
nota = 6.8

if nota >= 9:
    print("Parabéns, obeteve otimo resultado, esta participando do premio bimestral.")
    
    
    
elif nota >= 7:
    print("Você obteve nota necessária, APROVADO.")
    
    
else:
    print("Você não obteve nota minima,realizará exame final.")

Você não obteve nota minima,realizará exame final.

In [12]:
import math
from math import pi

r = 2

area_c = pi * r **2
# print("A aréa da circu. é:" ,area_c)

In [14]:
from math import pi

r = input("Diga o valor do raio.")
print(" Areá da circu é:" , pi * float(r) ** 2)

Diga o valor do raio.10
 Areá da circu é: 314.1592653589793

In [19]:
from math import pi

r = input('Diga o valor do raio.')

def circulo(r):
    print(" Areá da circu é:" , pi * float(r) ** 2)
    
circulo(r)

Diga o valor do raio.10
 Areá da circu é: 314.1592653589793

# Colocando cor no VSCODE

## tabela de cores:

### https://raccoon.ninja/pt/dev-pt/tabela-de-cores-ansi-python/

##### EXEMPLOS:

In [42]:
cor_reprovado = '\033[1;31m' #vermelho
cor_aprovado = '\033[1;34m' #azul


nota = 10


if nota >= 7:
    print(cor_aprovado , 'OK, APROVADO')
    
else:
    print(cor_reprovado , 'REPROVADO.')

 OK, APROVADO

In [ ]:
if 0 <= idade < 18:
        print('Menor de idade')

    elif idade in range(18, 64):
        print('Adulto')

    elif idade in range(65, 100):
        print('Melhor idade')

    elif idade >= 100:
        print('Centenaria')

    else:
        print('Idade Invalida')dd

In [6]:
palavra = 'julio'
for letra in palavra:
    print(letra,end=',')

j,u,l,i,o,

In [39]:
aprovados = ['Julio', 'Rai','Augusto']
for nome in aprovados:
    print(nome)
    
    
for posicao, nome in enumerate(aprovados):
    print(posicao +1,nome)

Julio
Rai
Augusto
1 Julio
2 Rai
3 Augusto

In [10]:
for x in range(1,11):
    if x == 5:
        continue
print(x, ',')

10 ,

In [ ]:
from random import randint

sorteio_dado = randint(1,7)
numero = randint(1,7)

while numero = randint(1,7): 
        print('ACERTOU.')
        break
else:
    print('Não acertou o numero.')

# Chamar numero par:

In [4]:
# 
    #so vai chamar numero par

# Chamar numero impar:

In [ ]:
dias_semana = {'Segunda':2 , 'Terca' : 3, 'Quarta' : 4 , 'Quinta': 5 , 'Sexta': 6}
fim_semana = {'Sabado':7 , 'Domingo' : 1}

print(fim_semana)

In [16]:
valores = ("Gui",4)

'nome {} idade {}'.format(*valores)

'nome Gui idade 4'

# Removendo resto de linhas da frase

In [84]:
nome = "AAAAAAAa           aaaaaaa"
print(nome)


nome_com_strip = "         AAAAA aaaaaaaa AAAAAAAAAAAA         ".strip()
print(nome_com_strip)


'500 10 20'.strip('10')

AAAAAAAa           aaaaaaa
AAAAA aaaaaaaa AAAAAAAAAAAA

'500 10 2'